# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Datos (nunca al repo)
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Modelos entrenados
*.pkl
*.joblib
*.h5

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.directory
